<div>
  <div class="input-contain">
    <input type="text" id="fname" name="fname" autocomplete="off" [value]="text" aria-labelledby="placeholder-fname"
      (keyup.enter)="submitInput()" />
    <div>
      <button (click)="startVoiceService()" mat-fab color="isRecordingVoice?warn'':'primary'"
        aria-label="Example icon button with a filter list icon">
        <mat-spinner *ngIf="isRecordingVoice"></mat-spinner>
        <img src="assets/svg/mic.svg" />
      </button>
    </div>
  </div>

  <div *ngIf="showBalance">
    <mat-card class="example-card">
      <mat-card-subtitle>Allen Smith</mat-card-subtitle>
      <mat-card-title>Balance</mat-card-title>
      <mat-card-content>
        <p>$1000000000</p>
      </mat-card-content>
    </mat-card>
    <!-- <p>Backend Response: {{backendResponse}}</p> -->
  </div>
</div>
