<div>
    <div class="title-container">
      <div class="client">
        <h1>Client - {{name}}</h1>
          <div class="summary">
            <h2>Net Worth: 1,000,000</h2>
            <h2>Assets: 1,200,000</h2>
            <h2>Liabilities: 200,000</h2>
          </div>
      </div>
    </div>
    <div class="client-data">
      <mat-tab-group>
        <mat-tab label="Holdings"> Holdings </mat-tab>
        <mat-tab label="Asset Allocation">  Asset Allocation </mat-tab>
        <mat-tab label="Performance"> Performance </mat-tab>
        <mat-tab label="Activity"> Activity </mat-tab>
        <mat-tab label="Account Info"> Account Info </mat-tab>
      </mat-tab-group>
    </div>
</div>